
.container{
    background-color: rgb(230, 220, 220);
    text-align: center;
    font-weight: 700px;
    font-family: nyt-cheltenham,cheltenham-fallback-georgia,cheltenham-fallback-noto,georgia,'times new roman',times,serif;
}
.container1{
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 20px;
    align-items: center;
    text-align: center;
}
.btn1{
border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    padding: 12px 12px;
    height: 11px;
    color: rgb(255, 255, 255);
    margin-right: 7px;
    margin-top: 10px;
    margin-left: 0px;
}
.LINK2{
    padding-left: 150px;
    margin-top: 10px;
    text-align: center;
    width: auto;
    margin-bottom: 0px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;

}
.parra1{
    padding-left: 520px;
    padding-right: 700px;
    margin-top: 10px;
    text-align: center;
    width: auto;
    margin-bottom:  0;
    font-family: cheltenham, georgia, times, serif;
.container{
    background-color: rgb(230, 230, 230);
}

.container2{
    height: 1100px;
    width: 700px;
}