.p10{
    padding-right: 390px;
}

.container{
    background-color: rgb(223, 219, 219);
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    box-sizing: content-box;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px

}
.container1{
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 20px;
    align-items: center;
    text-align: center;
}
.btn1{
border-radius: 3px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    padding: 12px 12px;
    height: 11px;
    color: rgb(255, 255, 255);
    margin-right: 7px;
    margin-top: 10px;
    margin-left: 0px;
    cursor:grab;

}
.LINK2{
    padding-left: 150px;
    margin-top: 10px;
    text-align: center;
    width: auto;
    margin-bottom: 0px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: black;

}
.parra1{
    padding-left: 510px;
    padding-right: 650px;
    margin-top: 0px;
    text-align: center;
    width: auto;
    margin-bottom:  0;
    font-family:'UnifrakturCook', cursive;
    font-size: 27px;
}
.container{
    background-color: rgb(230, 230, 230);
}

img{
    width: 1000px;
    height: 600px;
}
.container2{
    text-align: center;
}
.prr{
    text-align: center;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 10px;
}
.p1{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 400px;
    padding-right: 400px;
}
.p5{
    text-align: justify;
    font-size: 25px;
    padding-left: 400px;
    padding-right: 400px;
    margin-top: 0px;
}
.p2{
    padding-left: 400px;
    padding-right: 400px;
}
.p3{
    padding-left: 400px;
    padding-right: 400px;
}.p4{
    padding-left: 400px;
    padding-right: 400px;
}
